<div class="main">
  <div class="mt-5">
    <div fxFlex="100" fxLayout="column">
      <div fxLayoutAlign="center center">
        <mat-card class="book-form mr-5">
          <div fxLayoutAlign="center start">
            <div class="form-title">
              Let's Donate Books
            </div>
          </div>
          <div fxLayoutAlign="center start">
            <div class="form-body">
              <div fxLayout="column">
                <div fxFlex="100" fxLayout="row">
                  <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="ml-5">
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="input-value">
                  <mat-form-field appearance="outline" class="input-value">
                    <mat-label>Email</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="input-value">
                  <mat-form-field appearance="outline" class="input-value">
                    <mat-label>Phone</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxLayout="row">
                  <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="ml-5">
                    <mat-label>Dzongkhag</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxLayout="row">
                  <mat-form-field appearance="outline">
                    <mat-label>Book Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="ml-5">
                    <mat-label>Author</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="input-value">
                  <mat-form-field appearance="outline" class="input-value">
                    <mat-label>Genre</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="input-value">
                  <mat-form-field appearance="outline" class="input-value">
                    <mat-label>Number of Books</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="input-value">
                  <mat-form-field appearance="outline" class="input-value">
                    <mat-label>Summary</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxLayout="row">
                  <div class="ml-3 button" fxLayoutAlign="start center">
                    <button class="btn cancel">Cancel</button>
                  </div>
                  <div  class="button" fxLayoutAlign="end center">
                    <button class="btn send mr-3">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
